<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>My page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">Job Application Form!</h1>
      <form method="post">
        <div class="form-group mb-4">
          <label for="first_name">First Name:</label>
          <input
            class="form-control"
            type="text"
            id="first_name"
            name="first_name"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label for="last_name">Last Name:</label>
          <input
            class="form-control"
            type="text"
            id="last_name"
            name="last_name"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label for="email">Email:</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label for="date">Available start date:</label>
          <input
            class="form-control"
            type="date"
            id="date"
            name="date"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label>Current occupation</label>
          <br />
          <div class="btn-group-vertical" id="occupation">
            <input
              class="btn-check form-control"
              type="radio"
              id="employed"
              name="occupation"
              value="employed"
              required
            />
            <label class="btn btn-outline-secondary" for="employed"
              >Employed</label
            >

            <input
              class="btn-check form-control"
              type="radio"
              id="unemployed"
              name="occupation"
              value="unemployed"
              required
            />
            <label class="btn btn-outline-secondary" for="unemployed"
              >Unemployed</label
            >

            <input
              class="btn-check form-control"
              type="radio"
              id="self-employed"
              name="occupation"
              value="self-employed"
              required
            />
            <label class="btn btn-outline-secondary" for="self-employed"
              >Self-employed</label
            >

            <input
              class="btn-check form-control"
              type="radio"
              id="student"
              name="occupation"
              value="student"
              required
            />
            <label class="btn btn-outline-secondary" for="student"
              >Student</label
            >
          </div>
        </div>
        <button class="btn btn-secondary mb-4" type="submit">Submit</button>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="alert alert-success">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
