<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>

<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>For one station for one date <a
            href="http://127.0.0.1:5000/api/v1/27/1988-10-25">http://127.0.0.1:5000/api/v1/10/1988-10-25</a>
    <p>For one station for all dates: <a href="http://127.0.0.1:5000/api/v1/27">http://127.0.0.1:5000/api/v1/10</a>
    <p>For one station for a year: <a
            href="http://127.0.0.1:5000/api/v1/yearly/27/1990">http://127.0.0.1:5000/api/v1/yearly/10/1990</a>
    </p>
    <p>{{data|safe}}</p>
</body>

</html>