{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Restaurants Menu</h1>
    <ul class="list-group list-group-flush">
    {% for meal in meals %}
      <h2 class="pt-5">{{ meal.1 }}</h2>
      {% for m in item_list %}
        {% if m.meal_type == meal.0 %}
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
          {% if m.status == 0 %}
          
          <a href="{% url 'menu_item' m.pk %}"><h3><del> {{ m.meal }} </del></h3></a>
          <span class="badge bg-primary rounded-pill">{{ m.price }}</span>
          {% else %}
            <a href="{% url 'menu_item' m.pk %}"><h3> {{ m.meal }} </h3></a>
            <span class="badge bg-primary rounded-pill">{{ m.price }}</span>
        
          {% endif %}
        </li>
          <li class="list-group-item pt-0">
          <p>{{ m.description }}</p>
          </li>
        {% endif %}
      {% endfor %} 
    {% endfor %}
  </ul>
</div>
 {% endblock content %}