{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Dish Detail</h2>
    <h1 class="pt-5">{{ item.meal }}</h1>
    <p>{{ item.description}} </p>
</div>    
{% endblock content %}
