<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>

<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/store/">Store</a>
    </nav>
    <h1>Welcome</h1>
    <h2>This is our page</h2>
    <p>Hello, this is our first page</p>
    <img src="{{url_for('static', filename='godlo.jpg')}}" style="width:200px">
    <br>
    <br>
    <a href="https://linux.pl">Link do Linux.pl</a>
</body>

</html>