{% extends 'base.html' %} {% block content%}

<h1 class="mt-4 mb-4">Job Application Form!</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group mb-4">
    <label for="first_name">First Name:</label>
    <input
      class="form-control"
      type="text"
      id="first_name"
      name="first_name"
      required
    />
  </div>
  <div class="form-group mb-4">
    <label for="last_name">Last Name:</label>
    <input
      class="form-control"
      type="text"
      id="last_name"
      name="last_name"
      required
    />
  </div>
  <div class="form-group mb-4">
    <label for="email">Email:</label>
    <input class="form-control" type="email" id="email" name="email" required />
  </div>
  <div class="form-group mb-4">
    <label for="date">Available start date:</label>
    <input class="form-control" type="date" id="date" name="date" required />
  </div>
  <div class="form-group mb-4">
    <label>Current occupation</label>
    <br />
    <div class="btn-group-vertical" id="occupation">
      <input
        class="btn-check form-control"
        type="radio"
        id="employed"
        name="occupation"
        value="employed"
        required
      />
      <label class="btn btn-outline-secondary" for="employed">Employed</label>

      <input
        class="btn-check form-control"
        type="radio"
        id="unemployed"
        name="occupation"
        value="unemployed"
        required
      />
      <label class="btn btn-outline-secondary" for="unemployed"
        >Unemployed</label
      >

      <input
        class="btn-check form-control"
        type="radio"
        id="self-employed"
        name="occupation"
        value="self-employed"
        required
      />
      <label class="btn btn-outline-secondary" for="self-employed"
        >Self-employed</label
      >

      <input
        class="btn-check form-control"
        type="radio"
        id="student"
        name="occupation"
        value="student"
        required
      />
      <label class="btn btn-outline-secondary" for="student">Student</label>
    </div>
  </div>
  <button class="btn btn-secondary mb-4" type="submit">Submit</button>
  {% if messages %}
  <div class="alert alert-success">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}
</form>
{% endblock%}
